logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.hg/
/.cache/
/*.sublime-project
/*.sublime-workspace
conf/application.conf
/play.bat
/nbproject/private/
/build/
/.cache
/bin/
/.settings/
/.target/
/nbproject/
/build.xml
